[submodule "Patches/DivestOS_Wallpapers"]
	path = Patches/Wallpapers
	url = https://codeberg.org/AXP-OS/wallpapers.git
[submodule "PrebuiltApps"]
	path = PrebuiltApps
	url = https://codeberg.org/AXP-OS/legacy_prebuilt_apps.git
